header{
  text-align: center;
  font-family: monospace, serif;
  font-size:25px;
  background-color: lavender;
}

#pong {
  position:absolute;
  border: 1px solid black;
  left: 50%;
  margin-left: -450px;
}
