header{
  text-align: center;
  font-family: monospace, serif;
  margin-top: -20px;
  font-size: 25px;
}

#pong {
  position: absolute;
  border: 10px solid black;
  left: 50%;
  background-color: black;
}

#bottomDisplay{
  font-size: 25px;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: monospace, serif;
}

#chat-button{
  position: absolute;
  cursor: pointer;
  top: 87%;
  height: 60px;
  width: 120px;
  background-color: black;
  color: white;
  font-family: monospace, serif;
  font-size: 40px;
  text-align: center;
  line-height: 60px;
  left: 50%;
  margin-left: -60px;
}

#chatBox{
  height: 600px;
  width: 950px;
  background-color: white;
  position: absolute;
  border: 1px solid black;
  margin-top: -2%;
  left: 50%;
  z-index: 1;
}

form{
  position: absolute;
  width: 100%;
  top: 95%;
  height: 5%;
}

#textBox {
  position: absolute;
  width: 90%;
  height: 90%;
  padding: 0px;
}

#submit {
  position: absolute;
  width: 10%;
  left: 90%;
  height: 100%;
}

#messageField{
  position: absolute;
  height: 95%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ownMessage{
  float: right;
  clear: both;
  background-color: #DCDCDC;
  margin-top: 5px;
  margin-left: 2px;
  border-radius: 10px;
  padding: 5px;
  max-width: 400px;
  word-wrap: break-word;
}

.opponentMessage{
  float: left;
  clear: both;
  background-color: #CBD4FF;
  margin-top: 5px;
  margin-left: 2px;
  border-radius: 10px;
  padding: 5px;
  max-width: 400px;
  word-wrap: break-word;
}

#playAgain{
  position: absolute;
  display: none;
  cursor: pointer;
  top: 40%;
  height: 60px;
  width: 200px;
  background-color: white;
  color: black;
  font-family: monospace, serif;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  left: 50%;
  margin-left: -100px;
}
