header{
  text-align: center;
  font-family: monospace, serif;
  margin-top: -20px;
  font-size: 25px;
}

#pong {
  position: absolute;
  border: 10px solid black;
  left: 50%;
  margin-left: -450px;
  background-color: black;
}

#bottomDisplay{
  font-size: 25px;
  margin-top: 660px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: monospace, serif;
}

#chat-button{
  position: absolute;
  cursor: pointer;
  top: 790px;
  height: 60px;
  width: 120px;
  background-color: black;
  color: white;
  font-family: monospace, serif;
  font-size: 40px;
  text-align: center;
  line-height: 60px;
  left: 50%;
  margin-left: -60px;
}

#chatBox{
  height: 600px;
  width: 950px;
  background-color: white;
  position: absolute;
  border: 1px solid black;
  margin-top: 10px;
  left: 50%;
  margin-left: -465px;
}

form{
  position: fixed;
  margin-top: 570px;
}

#textBox {
  width: 870px;
  margin-left: 10px;
}

.ownMessage{
  float: right;
  clear: both;
  background-color: #DCDCDC;
  margin-top: 5px;
  margin-left: 2px;
  border-radius: 10px;
  padding: 5px;
}

.opponentMessage{
  float: left;
  clear: both;
  background-color: #CBD4FF;
  margin-top: 5px;
  margin-left: 2px;
  border-radius: 10px;
  padding: 5px;
}

#playAgain{
  position: absolute;
  display: none;
  cursor: pointer;
  top: 40%;
  height: 60px;
  width: 200px;
  background-color: white;
  color: black;
  font-family: monospace, serif;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  left: 50%;
  margin-left: -100px;
}
